.create__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.form {
    width: 80%;
    padding: 2rem 3rem;
    background: #eed7ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
    border-radius: 1.5rem;
}

.form label {
    font-weight: 500;
    color: #510B88;
}

.input__container {
    width: 100%;
}

.input {
    padding: .5rem 0;
    margin-bottom: 1.25rem;
}

.last {
    width: 47.25% !important;
}

.content {
    border-bottom: 2px solid #7330bc;
}

.content select {
    width: 100%;
    background: unset;
    border: none;
    /* padding: 1.5px 6px; */
    padding: .2rem .5rem;

    font-size: 1rem;
}

.content option {
    background: rgb(255, 223, 254);
    border: none;
}

.content input {
    background-color: unset;
    width: 100%;
    border: none;
    padding: .25rem .5rem;
    font-size: 1rem;
}

.content input:focus,
.content select:focus {
    outline: none;
}

.create {
    width: 20% !important;
    font-weight: 600 !important;
}


/* input::placeholder{
    color: rgb(133, 125, 125);
} */

input[type="date"]::-webkit-calendar-picker-indicator {
    background: url('../assets/images/Vector.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 15px;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    filter: none;
    cursor: pointer;
}

