.deposit__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.deposit__form {
    width: 80%;
    padding: 4rem;
    background: url('../assets/images/bgNew.jpg') center top/cover no-repeat;
    border: 3px dashed #6E23BD;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: .5rem;
}


.deposit__form label {
    font-weight: 500;
    color: #510B88;
}

.input__container {
    width: 100%;
}

.input__deposit {
    padding: .5rem 0;
    margin-bottom: 2rem;
    gap: 4rem;
}

.deposit__content {
    padding: .5rem 0;
}


.deposit__content input {
    width: 100%;
    padding: .5rem;
    font-size: 1rem;
    /* border: none; */
    border-style: solid;
    border-color: #d6b0ff;
    background-color: #f5e8ff;
    border-radius: .25rem;
}

.deposit__content input:focus {
    outline: none;
}

.deposit {
    width: 25% !important;
    font-weight: 600 !important;
    background: #6E23BD !important;
}


@media screen and (max-width: 820px) {
    .deposit__form {
        width: 90%;
        padding: 2rem 3rem;
    }
    .input__deposit {
        flex-direction: column;
        gap: 1.25rem;
        margin-bottom: 0;
    }
    .deposit {
        padding: 1.25rem !important;
        width: 50% !important; 
    }
}