.modal-content {
    background: #eed7ff !important;
    width: 800px !important;
    padding: .5rem 2rem;
}

.modal-header {
    border-bottom: .1rem #6E23BD dashed !important;
}

.modal-header h5 {
    font-family: 'Gamja Flower', sans-serif;
    font-size: 2.5rem;
    color: #6E23BD;
    text-shadow: 3px 1px #fff, 1px 3px 5px rgb(255, 105, 227);
}

.modal-body {
    padding: 2rem !important;
    flex: unset !important;
}

.modal-body .input {
    display: flex;
    gap: 3rem;
}

.change__content label {
    font-weight: 500;
    color: #510B88;
}

.change__content input {
    padding: .5rem 0;
    margin-bottom: 1.25rem;
    /* border-style: solid; */
    background-color: #f5e8ff;
    border-radius: .25rem;
    border: .125rem solid #d6b0ff;
}


.change__content input:focus {
    outline: none !important;
}


.modal-footer {
    border-top: .1rem #6E23BD dashed !important;
    gap: 1rem;
}

.change__create {
    width: 20%;
    font-weight: 600 !important;
}

.change__cancel {
    color: #6E23BD !important;
    width: 18%;
    padding: .7rem !important;
}


@media screen and (max-width: 820px) {
    .modal-content {
        width: 600px !important;
    }
    .modal-body {
        padding: 1rem !important;
    }
    .modal-body .input {
        gap: .75rem;
    }
    .change__content input {
        margin-bottom: 0;
    }
}