.monthly__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.monthly__section {
    background-color: #f1ddff;
    width: 90%;
    padding: 2rem;
    align-items: center;
    border-radius: .5rem;
    min-height: 35rem;
}

.input__container .monthly label {
    font-weight: 500;
    color: #510B88;
}

.monthly {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.input__text {
    margin-bottom: 0;
}

.monthly__content {
    display: flex;
    align-items: center;
    gap: 2rem;
}


.monthly__content input,
.monthly__content select {
    width: 100%;
    font-size: 1rem;
    border: 2px solid #d6b0ff;
    background-color: #fff;
    border-radius: .25rem;
}

/* .button {
    font-weight: 600;
    background-color: #bf76ff;
    color: #fff;
    border: none;
    border-radius: .25rem;
    margin-left: 2.5rem;
} */
.monthly__btn {
    font-weight: 600 !important;
    margin-top: .5rem;
}

.monthly__info {
    margin-top: 3rem;
}

@media screen and (max-width: 820px) {
    .monthly {
        flex-direction: column;
        align-items: flex-start;
        gap: .5rem;
    }
}