.passbook__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.passbook__list {
    width: 80%;
}


@media screen and (max-width: 820px) {
    .passbook__container .common {
        padding: .5rem;
    }
    .passbook__container .common p {
        font-size: 1.06rem;
    }
    .passbook__list {
        width: 90%;
    }
}