.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px dashed #fff;
    gap: .25rem;
    padding-bottom: 2rem;
}

.active {
    background: linear-gradient(180deg, #a15deb 35%, #e1a1ff 100%);
    border-radius: .5rem;

    .text,
    .icon {
        color: #fff;
    }


}

.logo span {
    font-family: 'Kaushan Script', cursive;
    font-size: 2rem;
    text-shadow: 3px 2px #ffffff;
}

.logo img {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.sidebar {
    background: linear-gradient(180deg, #d9bbff 0%, #e3c8ff 45%, #ffd2f0 100%);
    /* min-height: 100vh; */
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
    padding: 2rem;
    height: 100%;
}

.nav__item {
    padding: 1rem 0 !important;
    display: flex;
    align-items: center;
}

.text {
    font-family: 'McLaren', sans-serif;
    color: #510B88;
    letter-spacing: .1rem;
}

.icon {
    color: #bf76ff;
}

.nav__item a {
    display: flex;
    align-items: center;
    gap: .5rem;
    /* top right bottom left */
    padding: .75rem 0 .75rem .5rem;
    /* background-color: #ffffff; */
    width: 100%;
    font-size: 1.2rem;
}

.nav__item a:hover {
    background: linear-gradient(180deg, #a15deb 35%, #e1a1ff 100%);
    border-radius: .5rem;
}

.nav__item a:hover .text,
.nav__item a:hover .icon {
    color: #fff;
}

.submenu {
    background: #f6beff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* :)) */
    transform: translateY(-1rem); 
}


.submenu .nav__item {
    border-bottom: 1px solid #db8bfe;
    height: 3.4rem;
}

.submenu .nav__item:hover {
    background: linear-gradient(180deg, #a15deb 35%, #e1a1ff 100%);
    border-radius: .5rem;
}

.submenu .nav__item:last-child {
    border-bottom: none;
}


@media screen and (max-width: 820px) {
    .sidebar {
        padding: 1rem;
    }
    .logo {
        padding: 1rem 0 2.5rem 0;
    }
    .logo img  {
        width: 50px;
        height: 50px;
        object-fit: cover;
    }

    .logo span,
    .text {
        display: none; /* Hide the text */
    }

    .icon {
        font-size: 2.25rem;
        margin-left: 1.35rem;
    }

    .nav__item {
        padding: 2rem 0 1rem 0 !important;
    }
}
