thead tr {
    background-color: #914dda !important;
}


.css-1ygcj2i-MuiTableCell-root {
    font-family: 'Laila', serif !important;
    color: #fff !important;
    font-size: 1rem !important;
    font-weight: 600 !important;
}

.table .type {
    padding: .25rem 1rem;
    border-radius: .25rem;
}

.table .type._Non-term {
    background: #C1E0FD;
}

.table .type._3 {
    background: #FFC0B7;
}


.table .type._6 {
    background: #ABFFC3;
}

.text-center{
    text-align: center;
}
.margin-auto{
    margin: 0 auto;
}

/* Thêm border cho tất cả các ô trong bảng */
/* .tableCell {
    border: 1px solid #914dda !important;
} */