thead tr {
    background-color: #914dda !important;
}

thead {
    font-family: 'Laila', serif !important;
    color: #fff !important;
    font-size: 1rem !important;
    font-weight: 600 !important;
}

.tableCell {
    font-family: 'Laila', serif !important;
    font-size: 1rem !important;
}

tbody tr:nth-child(2n) {
    background-color: #f1ddff;
}


.table .type {
    padding: .25rem 1rem;
    border-radius: .25rem;
}

.table .type._Non-term {
    background: #C1E0FD;
}

.table .type._3 {
    background: #FFC0B7;
}


.table .type._6 {
    background: #ABFFC3;
}

.table .type._other {
    background: rgb(228, 178, 255);
}

.change__btn {
    width: 15%;
    font-weight: 600 !important;
}


@media screen and (max-width: 820px) {
    .css-quj9j6-MuiTable-root {
        min-width: unset !important;
    }
    .change__btn {
        width: 25%;
    }
}